@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse.woff2') format('woff2'),
        url('fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --green-color: #596D48;
}

body, p, h2 {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
}

.sidebar  {
    position: relative;
    height: 100vh;
    width: 1200px;
    overflow: hidden;
}

img[src="plants.jpg"] {
    position: absolute;
    min-width: 670px;
    width: 100%;
    height: auto;
}

.img-container {
    position: absolute;
    top: 20%;

    background-color: rgba(0, 0, 0, .5);
    height: 100px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

img[src="odin-lined.png"] {
    height: 80%;
}

.bg-credits {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 3%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.bg-credits a:link {
    color: white;
}

.bg-credits a:visited {
    color: #00a8be;
}

span {
    font-family: 'Norse-Bold', sans-serif;
    color: white;
    font-size: 64px;
}



.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.top-text {
    width: 500px;
    margin: 8px 48px;
    font-size: 18px;
    font-weight: bold;
}

form {
    margin: 48px 0px 32px;
    padding: 16px 48px;
    background-color: white;
    box-shadow: 0 5px 10px -5px rgb(187, 187, 187);
}

h2 {
    font-size: 18px;
    margin: 0 0 16px 0;
}

label {
    display: block;
    font-size: 12px;
    font-weight: 500;
}

input {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    width: 200px;
    height: 20px;
}

input:user-invalid {
    border: 1px solid red;
}

.inputRow {
    display: flex;
    gap: 48px;
    margin: 0 0 16px 0;
}

.bottom {
    margin: 0 48px;
    font-size: 12px;
}

button {
    width: 160px;
    height: 35px;

    background-color: var(--green-color);
    color: white;
    border: none;
    border-radius: 6px;

    font-weight: bold;

    margin: 0 0 32px 0;
}

button:hover {
    background-color: #314428;
}

button:active {
    background-color: #172e17;
}

.bottom a {
    font-weight: bold;
    text-decoration: none;
}

.bottom a:link {
    color: var(--green-color);
}

.bottom a:visited {
    color: #223d21;
}